* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
        "h"
        "n"
        "m"
        "f";
    gap: 10px;
}

.header {
    background-color: lightpink;
    grid-area: h;
}

.nav {
    background-color: lightblue;
    grid-area: n;
}

.nav ul {
    display: flex;
    flex-direction: row;
    list-style: none;
    gap: 30px;
    justify-content: flex-start;
    padding: 30px 10px;
}

.main {
    grid-area: m;
}

.card {
    width: 100%;
    padding: 20px;
}

.card:nth-child(1) {
    background-color: lightcoral;
}

.card:nth-child(2) {
    background-color: purple;
}

.card:nth-child(3) {
    background-color: lightgreen;
}

.footer {
    background-color: lightyellow;
    grid-area: f;
    text-align: center;
    padding: 10px;
}

@media (min-width: 768px) {
    body {
        grid-template-columns: 220px 1fr;
        grid-template-areas:
            "h h"
            "n m"
            "f f";
    }
    .header{
        width: 100%;
    }
    
    .main{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card:nth-child(1){
        grid-column: 1 / -1;
    }
    
    .card:nth-child(2){
        grid-column: 1 / 2;
    }

    .card:nth-child(3){
        grid-column: 2 / -1;
    }
}
